<div ng-controller="announcementReadCtrl"> 
    <ion-view title="Announcements">
        <ion-content overflow-scroll="true" padding="false" class="red-bkg has-header" style="background-color:#ACAAAA">
             <div class="card">
              <div class="item item-divider">
               {{newsTitle}}
             	<p class="subdued">{{newsDay}}</p>
              </div>
              <div class="item item-text-wrap">
                {{newslongDesc}}
              </div>
            </div>
        </ion-content>
    </ion-view>
</div>