<div ng-controller="BIBLECtrl"> 
    <ion-view title="Bible">
        <ion-content overflow-scroll="true" padding="false" class="red-bkg has-header">
              <div class="item item-text-wrap animated zoomIn item-remove-animate">
               <img src="img/bible/reading_plan.png" width="100%" height="100%" alt="Reading Plan" 
               		ui-sref="churAPPiController.readingPlan" /><!-- Change reading plan image in img folder -->	
                  <h1 class="dark-color item-text-center item-text-wrap" style="font-size:inherit;">
                    View your weekly Bible reading plan...
                  	<i class="icon ion-chevron-right icon-accessory" style="float:right"></i>
                  </h1>
                    
              </div>
              <div class="item item-text-wrap animated zoomIn item-remove-animate">
                <img src="img/bible/bible.png" width="100%" height="100%" alt="Online Bible" 
                	ui-sref="churAPPiController.webpage" /><!-- Change bible image in img folder -->	
                  <h1 class="dark-color item-text-center item-text-wrap" style="font-size:inherit;">
                    Read the online YouVersion Bible...
                  	<i class="icon ion-chevron-right icon-accessory" style="float:right"></i>
                  </h1>
              </div>
        </ion-content>
    </ion-view>
</div>