<ion-view style="" title="ChurAPPiController">
    <ion-tabs style="background-color: #F06261;" class="tabs-icon-top tabs-dark">
        <ion-tab title="Series" icon="icon-series" href="#/controllerAPPi/series">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Events" icon="icon-events" href="#/controllerAPPi/events">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Bible" icon="icon-bible" href="#/controllerAPPi/bible">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="News" icon="icon-news" href="#/controllerAPPi/announcements">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="More" icon="icon-more" href="#/controllerAPPi/more">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>