<div ng-controller="pastorsCtrl">  
    <ion-view title="Your Pastors">
        <ion-content overflow-scroll="true" padding="false" class="has-header">
            <div class="row">
              <div class="col col-50">
              	<img ng-src="img/pastors/01.jpg" alt="Image" width="100%" height="auto" /><!-- Change pastor image in img folder -->	
                <div class="title">
                    <strong>John Doe</strong><!-- Change pastor name -->	
                </div>
                <div class="subtitle red-color">
                    <i>North Carolina, US</i><!-- Change pastor place -->	
                </div><hr>
              	<img ng-src="img/pastors/03.jpg" alt="Image" width="100%" height="auto" /><!-- Change pastor image in img folder -->	
                <div class="title">
                    <strong>Jane Doe</strong><!-- Change pastor name -->	
                </div>
                <div class="subtitle red-color">
                    <i>Osogbo, Nigeria</i><!-- Change pastor place -->	
                </div><hr>
              	<img ng-src="img/pastors/05.jpg" alt="Image" width="100%" height="auto" /><!-- Change pastor image in img folder -->	
                <div class="title">
                    <strong>Jane Doe</strong><!-- Change pastor name -->	
                </div>
                <div class="subtitle red-color">
                    <i>Edo, Nigeria</i><!-- Change pastor place -->	
                </div><hr>
                </div>
              <div class="col col-50">
              	<img ng-src="img/pastors/02.jpg" alt="Image" width="100%" height="auto" /><!-- Change pastor image in img folder -->	
                <div class="title">
                    <strong>John Doe</strong><!-- Change pastor name -->	
                </div>
                <div class="subtitle red-color">
                    <i>West Virginia, US</i><!-- Change pastor place -->	
                </div><hr>
              	<img ng-src="img/pastors/04.jpg" alt="Image" width="100%" height="auto" /><!-- Change pastor image in img folder -->	
                <div class="title">
                    <strong>John Doe</strong><!-- Change pastor name -->	
                </div>
                <div class="subtitle red-color">
                    <i>California, US</i><!-- Change pastor place -->	
                </div><hr>
              	<img ng-src="img/pastors/06.jpg" alt="Image" width="100%" height="auto" /><!-- Change pastor image in img folder -->	
                <div class="title">
                    <strong>John Doe</strong><!-- Change pastor name -->	
                </div>
                <div class="subtitle red-color">
                    <i>Texas, US</i><!-- Change pastor place -->	
                </div><hr>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>